aiohttp==3.8.1
aiosignal==1.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.4.2
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.5.4
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
dnspython==2.2.1
elastic-apm==6.9.1
elastic-transport==8.1.1
elasticsearch==8.1.2
elasticsearch-async==6.2.0
entrypoints==0.4
Flask==2.1.1
Flask-Babel==2.0.0
Flask-WTF==1.0.1
fonttools==4.31.2
frozenlist==1.3.0
gunicorn ==20.1.0
idna==3.3
importlib-metadata==4.11.3
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==2.1.2
jedi==0.17.2
Jinja2==3.1.1
jsonschema==4.4.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterthemes==0.20.0
kiwisolver==1.4.2
lazy-object-proxy==1.4.3
lesscpy==0.15.0
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.6.1
mistune==0.8.4
multidict==6.0.2
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.4
notebook==6.4.10
numpy==1.22.3
packaging==21.3
pandocfilters==1.5.0
parso==0.7.1
pickleshare==0.7.5
Pillow==9.1.0
ply==3.11
prometheus-client==0.13.1
prompt-toolkit==3.0.8
pycodestyle==2.6.0
pycparser==2.21
Pygments==2.7.2
pylint==2.6.0
pymongo==4.0.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.1
pytz==2022.1
pyzmq==20.0.0
requests==2.27.1
Send2Trash==1.8.0
six==1.15.0
soupsieve==2.3.1
splinter==0.17.0
terminado==0.13.3
testpath==0.6.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.1
wrapt==1.12.1
WTForms==3.0.1
yarl==1.7.2
zipp==3.8.0
